*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: #ffebcd;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#mainWrapper
{
    width: 600px;
    margin: auto;
}
#above
{
    display: flex;
    justify-content: space-between;
}
#time
{
    text-align: right;
}
#timeLeft
{
    color: red;
}
#grid
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0 10px 0;
}
.item
{
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70px;
    text-align: center;
    overflow: hidden;
    /*word-break: break-all;
    word-wrap: break-word;*/
    font-size: 30px;
    padding: 10px;
}
#categories
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0 5px 0;
}
.cat
{
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 100%;
    display: none;
}
.cat h2
{
    font-size: 25px;
}
.cat p
{
    font-size: 16px;
}
.yellow
{
    background-color: yellow;
}
.green
{
    background-color: lightgreen;
}
.blue
{
    background-color: aqua;
}
.purple
{
    background-color: violet;
}
#mistakes
{
    text-align: center;
}
#mistakesLeft
{
    color: red;
}
#buttons
{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#buttons button
{
    padding: 10px;
    border-radius: 30px;
    width: 120px;
    margin: 10px 0 10px 0;
    border-color: #aaaaaa;
    border-style: solid;
}
#buttons button:hover
{
    border-color: black;
}
.selected
{
    background-color: black;
    color: white;
}
#invalidContainer
{
    background-color: yellow;
    width: 300px;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    opacity: 0;
    display:none;
    position: fixed;
    top: 40%;
    left: 40%;
}